
/* /Components/Cards/FormHelpCard.razor.rz.scp.css */
p[b-2fxordkxuw] {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

.card-title i[b-2fxordkxuw] {
    padding-right: 0.3rem;
}
/* /Components/Cards/OutletListCard.razor.rz.scp.css */
.list-group-item.active[b-nnwrznc4z1] {
    background-color: var(--bs-gray-300);
    border-color: var(--bs-border-subtle);
}
/* /Components/Display/Alerts/Alert.razor.rz.scp.css */
i[b-djhyi5vik0] {
    font-size: 1.4rem;
    padding-right: 0.5rem;
}

[b-djhyi5vik0] .alert-content p:last-child {
    margin-bottom: 0 !important;
}
/* /Components/Display/Alerts/ErrorAlert.razor.rz.scp.css */
i[b-88jh4jrkpf] {
    font-size: 1.5rem;
}
/* /Components/Display/Alerts/InformationAlert.razor.rz.scp.css */
i[b-m49qeoi03d] {
    font-size: 1.5rem;
}
/* /Components/Display/Alerts/SuccessAlert.razor.rz.scp.css */
i[b-1mvdgpagz7] {
    font-size: 1.5rem;
}
/* /Components/Display/Alerts/WarningAlert.razor.rz.scp.css */
i[b-hdo1mnn9xw] {
    font-size: 1.5rem;
}
/* /Components/Display/Callouts/Callout.razor.rz.scp.css */

.callout[b-hnwsmzavzl] {
    margin: 1.0rem 0;
    padding: 1.0rem 1.25rem;
    border-left: 0.35rem solid var(--bs-border-color);
    background-color: var(--bs-gray-100);
}

.callout p:last-child[b-hnwsmzavzl] {
    margin-bottom: 0;
}

.callout code[b-hnwsmzavzl],
.callout .highlight[b-hnwsmzavzl] {
    background-color: #fff;
}

.callout-primary[b-hnwsmzavzl] {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
    border-color: var(--bs-primary-border-subtle);
}

.callout-secondary[b-hnwsmzavzl] {
    color: var(--bs-secondary-text-emphasis);
    background-color: var(--bs-secondary-bg-subtle);
    border-color: var(--bs-secondary-border-subtle);
}

.callout-danger[b-hnwsmzavzl] {
    color: var(--bs-danger-text-emphasis);
    background-color: var(--bs-danger-bg-subtle);
    border-color: var(--bs-danger-border-subtle);
}

.callout-warning[b-hnwsmzavzl] {
    color: var(--bs-warning-text-emphasis);
    background-color: var(--bs-warning-bg-subtle);
    border-color: var(--bs-warning-border-subtle);
}

.callout-success[b-hnwsmzavzl] {
    color: var(--bs-success-text-emphasis);
    background-color: var(--bs-success-bg-subtle);
    border-color: var(--bs-success-border-subtle);
}

.callout-info[b-hnwsmzavzl] {
    color: var(--bs-info-text-emphasis);
    background-color: var(--bs-info-bg-subtle);
    border-color: var(--bs-info-border-subtle);
}

.callout-light[b-hnwsmzavzl] {
    color: var(--bs-light-text-emphasis);
    background-color: var(--bs-light-bg-subtle);
    border-color: var(--bs-light-border-subtle);
}

.callout-dark[b-hnwsmzavzl] {
    color: var(--bs-dark-text-emphasis);
    background-color: var(--bs-dark-bg-subtle);
    border-color: var(--bs-dark-border-subtle);
}
/* /Components/Display/Loader.razor.rz.scp.css */
.loader[b-thporcv7tx] {
    height: 35vh !important;
}

.loader i.bi.bi-emoji-dizzy-fill[b-thporcv7tx] {
    font-size: 1.9em;
}
/* /Components/Display/MoreInfo.razor.rz.scp.css */
i[b-f0depdkvz6] {
    padding-right: 0.2rem;
}

div[b-f0depdkvz6]{
    margin-top: 1rem;
}
/* /Components/Display/RequiredFieldIndicator.razor.rz.scp.css */
span.required-field-help[b-z5q3zrksi9]:before {
    content: "\F151";
    font-family: 'bootstrap-icons';
    font-weight: normal;
    /*font-size: 0.95rem;*/
    padding-right: 0.3rem;
    color: var(--bs-indigo);
    vertical-align: middle !important;
}

.small[b-z5q3zrksi9], small[b-z5q3zrksi9] {
    font-size: 0.8em;
}
/* /Components/Display/Tooltips/ErrorTooltip.razor.rz.scp.css */
.error-tooltip[b-qd5yywn83h] {
}

.error-tooltip-icon[b-qd5yywn83h] {
    color: var(--bs-tertiary-color);
}

    .error-tooltip-icon:hover[b-qd5yywn83h] {
        color: var(--bs-danger);
    }
/* /Components/Display/Tooltips/HelpTooltip.razor.rz.scp.css */
.help-tooltip[b-b82pe0la8n] {
}

.help-tooltip-icon[b-b82pe0la8n] {
    color: var(--bs-gray);
}

    .help-tooltip-icon:hover[b-b82pe0la8n] {
        color: var(--bs-dark);
    }
/* /Components/Display/Tooltips/InformationTooltip.razor.rz.scp.css */
.information-tooltip[b-7p5z1wc93q] {
}

.information-tooltip-icon[b-7p5z1wc93q] {
    color: var(--bs-tertiary-color);
}

    .information-tooltip-icon:hover[b-7p5z1wc93q] {
        color: var(--bs-primary);
    }
/* /Components/Display/Tooltips/WarningTooltip.razor.rz.scp.css */
.warning-tooltip[b-gowm79bn3y] {
}

.warning-tooltip-icon[b-gowm79bn3y] {
    color: var(--bs-tertiary-color);
}

    .warning-tooltip-icon:hover[b-gowm79bn3y] {
        color: var(--bs-warning);
    }
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-vynmvjaeuf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-vynmvjaeuf] {
    flex: 1;
}

.sidebar[b-vynmvjaeuf] {
    background-image: linear-gradient(180deg, #0c2c4d 25%, #0a1f35 75%);
}

.top-row[b-vynmvjaeuf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-vynmvjaeuf]  a, .top-row[b-vynmvjaeuf]  .btn-link {
        white-space: nowrap;
        margin-left: 0.5em;
        text-decoration: none;
    }

    .top-row[b-vynmvjaeuf]  a:hover, .top-row[b-vynmvjaeuf]  .btn-link:hover {

    }

    .top-row[b-vynmvjaeuf]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.content[b-vynmvjaeuf] {
    padding-top: 0.75em;
    padding-bottom: 1.5em;
}

@media (max-width: 576.98px) {
    .top-row:not(.auth)[b-vynmvjaeuf] {
        display: none;
    }

    .top-row.auth[b-vynmvjaeuf] {
        justify-content: space-between;
    }

    .top-row[b-vynmvjaeuf]  a, .top-row[b-vynmvjaeuf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .page[b-vynmvjaeuf] {
        flex-direction: row;
    }

    .sidebar[b-vynmvjaeuf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vynmvjaeuf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-vynmvjaeuf]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-vynmvjaeuf], article[b-vynmvjaeuf] {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-pq4wzp54yb] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-pq4wzp54yb] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-pq4wzp54yb] {
    font-size: 1.4rem;
    font-weight: 300;
}

.nav-item[b-pq4wzp54yb] {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-pq4wzp54yb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-pq4wzp54yb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-pq4wzp54yb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item[b-pq4wzp54yb]  a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item[b-pq4wzp54yb]  a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

    .nav-item a i[b-pq4wzp54yb] {
        font-size: 1.2rem;
        padding-right: 0.7rem;
        min-width: 1.2rem;
    }

    .nav-item > .nav-link[b-pq4wzp54yb] {
        padding: .5rem 1rem;
    }

@media (min-width: 768px) {
    .navbar-toggler[b-pq4wzp54yb] {
        display: none;
    }

    .collapse[b-pq4wzp54yb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-pq4wzp54yb] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Help.razor.rz.scp.css */

dd[b-bqt77bpoax] {
    border-radius: 0.3rem;
}

dd[b-bqt77bpoax], dt[b-bqt77bpoax] {
    padding: 0.5rem;
}

    dd:hover[b-bqt77bpoax] {
        background-color: var(--bs-gray-100);
    }

    dd strong[b-bqt77bpoax] {
        font-weight: 500;
    }

    dd p:last-child[b-bqt77bpoax] {
        margin-bottom: 0 !important;
    }
/* /Pages/Sites/TradingTimes/Update.razor.rz.scp.css */
.list-group-flush > .list-group-item:last-child[b-yc9ytj11e3] {
    border-bottom-width: 0;
    padding-bottom: 0;
    margin-bottom: -0.5rem;
}