
:root {
    --app-primary: #1b6ec2;
    --bs-success-border-subtle: #198754c4;
    --bs-info-border-subtle: #0dcaf0a3;
    --bs-warning-border-subtle: #ffc107ba;
    --bs-danger-border-subtle: #dc3545c7;
}

/*html, body {
    font-family: var(--bs-body-font-family);
}
*/

h1:focus {
    outline: none;
}

h1.display, h2.display, h3.display, h4.display, h5.display, h6.display {
    font-weight: 300;
    line-height: 1.2;
}

a, .btn-link {
    color: var(--app-primary);
}

    a.dropdown-item {
        cursor: pointer;
    }

.badge {
    font-weight: 500;
}

    .badge.text-bg-light {
        background-color: #e9ecef !important;
    }

.btn-primary {
    background-color: var(--app-primary);
    border-color: #1861ac;
}

.invalid {
    border-color: var(--bs-border-color) !important;
}

.validation-message {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #ab0e1f;
}

#blazor-error-ui {
    background: var(--bs-highlight-bg);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.7rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #56959f;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.nav-item .nav-link {
    /*color: #333;*/
    padding: .5rem 1rem;
}

/*.nav-item .nav-link:hover {
        color: #0071c1;
    }*/

.btn, .card, .form-control, .form-select {
    border-radius: .25rem;
}

select.page-select {
    border: 0;
    font-weight: bolder;
    margin-left: 5px;
}

.blazored-typeahead {
    border: 1px solid var(--bs-border-color);
    border-radius: .25rem;
}

    .blazored-typeahead.valid.modified {
        outline: none !important;
        border: 1px solid var(--bs-border-color);
    }

    .blazored-typeahead:focus-within {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }

.blazored-typeahead__input-mask {
    border: 0;
}

.blazored-typeahead__input-mask-wrapper--disabled {
    min-height: unset;
    color: unset;
    cursor: unset;
}

.blazored-typeahead__loader {
    background-color: black !important;
    position: relative;
    top: 11px;
    right: 15px;
    height: 15px !important;
    width: 15px !important;
}

.blazored-typeahead__controls {
    height: 36px;
}

.blazored-typeahead__input {
    height: 36px;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.blazored-typeahead__result, .blazored-typeahead__notfound, .blazored-typeahead__results-help-template, .blazored-typeahead__results-header, .blazored-typeahead__results-footer {
    padding: .35rem;
    border-top: none;
    border-bottom: none;
}

    .blazored-typeahead__active-item, .blazored-typeahead__result:hover, .blazored-typeahead__result:focus {
        border-top: none;
        border-bottom: none;
    }

        .blazored-typeahead__result:hover .text-body-secondary {
            color: #fff !important;
        }

.blazored-toast .success-toast-override {
    background-color: black;
}

.blazored-toast .blazored-toast-close {
    margin-top: 0.3rem;
}

.blazored-toast-container {
    z-index: 10000 !important;
}

.paginator {
    border-top: none !important;
}

/*.go-first, .go-last {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-square-fill" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.5 10V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4A.5.5 0 0 0 10.5 12z"/></svg>') !important;
}

.go-previous, .go-next {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg>') !important;
}*/

.go-first, .go-last, .go-previous, .go-next {
    background-image: none !important;
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1em;
}

    .go-first::before, .go-last::before {
        content: "\F276"
    }

    .go-previous::before, .go-next::before {
        content: "\F284"
    }

button.col-title {
    font-weight: bold;
}

/*.col-sort-asc .sort-indicator, .col-sort-desc .sort-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"> <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>') !important;
}*/

.col-sort-asc .sort-indicator, .col-sort-desc .sort-indicator {
    background-image: none !important;
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1em;
    padding-inline-start: 0.3rem;
}

    .col-sort-desc .sort-indicator::after {
        content: "\F282"
    }

    .col-sort-asc .sort-indicator::after {
        content: "\F282"
    }

.form-label {
    font-weight: 600;
    color: #343a40;
}

.required-field:after {
    content: "\F151";
    font-family: 'bootstrap-icons';
    font-weight: normal;
    padding-left: 0.3rem;
    color: var(--bs-code-color);
    font-size: 0.8rem;
}

button.btn-sm i {
    font-size: 0.95em;
}

button span.spinner-grow {
    margin-right: 0.5em;
}

form div.w-100, .card-body div.w-100 {
    padding: 0;
    margin: 0;
}

.card-body button.accordion-button {
    background-color: var(--bs-accordion-bg);
}

    .card-body button.accordion-button:not(.collapsed) {
        box-shadow: none;
    }

    .card-body button.accordion-button:focus {
        box-shadow: none;
        border-color: rgba(0,0,0,.125);
    }

    .card-body button.accordion-button:link, .card-body button.accordion-button:visited, .card-body button.accordion-button:hover, .card-body button.accordion-button:active {
        background-color: var(--bs-light) !important;
    }

.card-header-tabs .nav-link {
    color: var(--bs-gray-700);
}

    .card-header-tabs .nav-link:hover {
        color: var(--bs-link-hover-color);
    }

i.bi.bi-plus-lg, i.bi.bi-list {
    font-size: 15px;
}

button.accordion-button.collapsed {
    background-color: var(--bs-gray-100);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-dark);
    background-color: var(--bs-gray-200);
}

.accordion-button:focus {
    box-shadow: none;
}

h1.small, h1 small {
    font-size: .73em;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1100;
}

.modal-wide {
    --bs-modal-width: 1320px;
}

.sticky-top {
    z-index: unset;
}

@media (max-width: 575px) {
    .display-4 {
        font-size: 2.0rem;
    }

    .sticky-offset {
        top: 75px;
    }
}

@media (min-width: 576px) {
    .display-4 {
        font-size: 1.9rem;
    }

    .sticky-offset {
        top: 75px;
    }
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 2.1rem;
    }

    .sticky-offset {
        top: 75px;
    }
}

@media (min-width: 992px) {
    .display-4 {
        font-size: 2.3rem;
    }

    .sticky-offset {
        top: 75px;
    }
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 2.5rem;
    }

    .sticky-offset {
        top: 75px;
    }
}

@media (min-width: 1400px) {
    .display-4 {
        font-size: 2.95rem;
    }

    .sticky-offset {
        top: 75px;
    }
}
